<ul class="nav nav-pills nav-stacked">
<%= link_to new_conversation_path do %>
<em class="glyphicon glyphicon-envelope glyphicon-lg"></em>
<span>New Message</span>
<% end  %>
    <%= link_to mailbox_inbox_path do  %>
        <em class="fa fa-inbox fa-lg"></em>
        <span>Inbox</span>
    <% end %>
    <%= link_to mailbox_sent_path do %>

        <em class="fa fa-paper-plane-o fa-lg"></em>
        <span>Sent</span>
    <% end %>
    <%= link_to mailbox_trash_path do %>
        <em class="fa fa-trash-o fa-lg"></em>
        <span>Trash</span>
    <% end %>
</ul>