
<div class="row">
 <div class="spacer"></div>

 <div class="col-md-12" align="center">
   <div class="panel-body-mailbox">
     <%= render 'mailbox/folders' %>
   </div>
   <div class="spacer"></div>
 </div>
<!-- 
  <div class="col-md-3">
    <div class="panel panel-mailbox">
      <div class="panel-body-mailbox">
        <%#= render 'mailbox/folders' %>
      </div>
    </div>
  </div> -->


<div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="panel panel-mailbox">
      <div class="panel-body-mailbox">
        <% if is_conversation %>
                    <%= render 'conversations/form' %>
                <% else %>
                <%= render partial: 'conversations/conversation', collection: messages %>
                <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>

</div>