

<%= div_for post do %>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= link_to post.title, post %></h3>
        </div>
      <div class="panel-body">
        <%= image_tag post.picture %>
      </div>
    <em>added by <%= link_to post.user.full_name, post.user %></em>
    </div>
  </div>
</div>
<% end %>