@import "bootstrap";
@import "bootstrap-sprockets";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

body { 
  background-color: black;
  background: url(https://studiolightings.files.wordpress.com/2014/09/background-paper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1 {
  font-family: 'Abril Fatface';
}

.navbar-default .navbar-nav > li > a {
    color: #A0522D;
    font-size: 26px;
    line-height: 100px;
    height: 100px;
    padding-top: 0;
    font-family: 'Abril Fatface';
}

.navbar-default .navbar-brand {
    color: #A0522D;

}


.navbar-brand {
  font-family: 'Permanent Marker', cursive;
  color: #A0522D;
  line-height: 100px;
  height: 100px;
  padding-top: 0;
  font-size: 40px;
}

.nav-stacked {
  font-size: 30px;
  color: #A0522D;
}
.nav-stacked > a {
  font-size: 30px;
  color: #A0522D;
}

.panel-body {
  height: 250px;
}
.panel-body-show {
  height: 100%;
}
.panel-body-mailbox {
  height: 100%;
}
panel-default {
  max-width: 300px;
  max-height: 280px;
}
panel-show {
  max-width: 300px;
  max-height: 450px;
}

body { 
    padding-top: 65px;
    padding-bottom: 0px; 
}

img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.btn-xl {
    padding: 28px 38px;
    font-size: 30px;
    border-radius: 8px;
}

.navbar-default {
    background-color: #EEE8AA
;

}
